<header>
  <nav class="gronav">
    <div class="gronav_bg"></div>
    <div class="gronav_logo">
      <li>
        <%= link_to("NEKO", "/", class: "gronav_link") %>
      </li>
    </div>
    <div class="gronav_wrap">
      <ul class="gronav_main_menu">
        <li>
          <%= link_to("Meow", "/meow", class: "gronav_link") %>
        </li>
        <li>
          <%= link_to("Products", "/products", class: "gronav_link") %>
        </li>
        <li>
          <%= link_to("Journal", "/journal", class: "gronav_link") %>
        </li>
      </ul>
    </div>
    <div class="gronav_wrap_contact">
      <ul class="gronav_contact">
        <li>
          <%= link_to("Company", "/company", class: "gronav_link") %>
        </li>
        <li>
          <%= link_to("Contact", "/contact", class: "gronav_link") %>
        </li>
      </ul>
    </div>
    <div class="gronav_toggle">
      <div class="inner">
        <span class="b b1 gronav_toggle_bar"></span>
        <span class="b b2 gronav_toggle_bar"></span>
        <span class="b b3 gronav_toggle_bar"></span>
      </div>
    </div>
  </nav>
</header>

